<!DOCTYPE html>
<html>
<head>
    <title>Band Condition Tweet Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
       
</head>
<body>
    <h1>Band Conditions</h1>

    <p>SFI: <%= SFI %></p>
    <p>K Index: <%= K %></p>
    <p>A Index: <%= A %></p>
    <p>Sun spots: <%= Sunspots %></p>  
    <p>80m-40m: <%= eighty %></p> 
    <p>30m-20m: <%= thirty %></p> 
    <p>17m-15m: <%= seventeen %></p> 
    <p>12m-10m: <%= twelve %></p>   
  
   
    <button class="button2" name="return"><a href="/sunData.html"> Return</a></button>
</body>
</html>